<h1>Are you sure you want to Delete this?</h1>
<form action="/food/<%= params[:storage_type] %>/<%= @food_item.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <label for="food-item">Food Item</label>
  <input type="text" name="item_name" value="<%= @food_item.item_name %>">

  <label for="purchase-date">Date Purchased</label>
  <input type="date" name="purchase_date" value="<%= @food_item.purchase_date %>">

  <label for="expiry-date">Expiry Date</label>
  <input type="date" name="expiry_date" value="<%= @food_item.expiry_date %>">

  <label for="notification">Remind me on</label>
  <input type="date" name="notification" value="<%= @food_item.notification %>">

  <button type="submit">Yes</button>
  <a href="/food/<%= params[:storage_type] %>/<%= @food_item.id %>">No</a>
</form>
