<!-- delete-item -->
<div id="delete-item" class="main-container">
  <h1 class="main-title">Are you sure you want to delete <%= @food_item.item_name %>?</h1>

  <form action="/food/<%= params[:storage_type] %>/<%= @food_item.id %>" method="post" class="delete-form">
    <input type="hidden" name="_method" value="delete">

    <div class="form-group">
      <label for="food-item">Food Item</label>
      <input type="text" name="item_name" value="<%= @food_item.item_name %>">
    </div>

    <div class="form-group">
      <label for="purchase-date">Date Purchased</label>
      <input type="date" name="purchase_date" value="<%= @food_item.purchase_date %>">
    </div>

    <div class="form-group">
      <label for="expiry-date">Expiry Date</label>
      <input type="date" name="expiry_date" value="<%= @food_item.expiry_date %>">
    </div>

    <div class="form-group">
      <label for="notification">Remind me on</label>
      <input type="date" name="notification" value="<%= @food_item.notification %>">
    </div>

    <div class="form-group">
      <button type="submit">Yes</button>
      <a href="javascript:history.back()">No</a>
    </div>
  </form>
</div>
<!-- end delete-item -->
