<div class="">
   <h1><%= "Your fridge is empty!" %></h1>
   <a href="/food/<%= params[:storage_type] %>/new">Add some food now!</a>
</div>

<div class="">
   <p>If fridge not empty, show all food in the fridge</p>
   <a href="/food/<%= params[:storage_type] %>/new">Add more Food now!</a>
   <a href="/food/<%= params[:storage_type] %>/edit">Edit Food</a>
   <a href="/food/<%= params[:storage_type] %>/delete">Delete Food</a>
</div>

<input type="date" name="" value="">
