<!-- no-food -->
<div id ="no-food" class="main-container">
  <h1 class="main-title"><%= "Your #{params[:storage_type]} is empty!" %></h1>
  <article class="">
    <div class="gif-container">
      <img class="no-food-gif" src="/img/empty_<%= params[:storage_type] %>.gif" alt="No Food">
    </div>
    <a href="/food/<%= params[:storage_type] %>/new">Add some food now!</a>
  </article>
</div>
<!-- end no-food -->

<!-- food-storage -->
<div id="food-storage" class="main-container">
  <h1 class="main-title">Food in your <%= params[:storage_type] %></h1>
  <% @all_food.each do |item| %>
  <% days_remaining_all = (item.expiry_date - new_time.strftime('%Y-%m-%d').to_date).to_i %>

  <article class="storage-item-wrapper">
    <img src="http://morganfillman.space/g/150/150" alt="">
    <h3><a href="/food/<%= params[:storage_type] %>/<%= item.id %>"><%= item.item_name %></a></h3>
    <h4><%= "#{days_remaining_all} days until food expires" %></h4>
      <div class="item-actions">
        <a href="/food/<%= params[:storage_type] %>/new">Add more food!</a>
        <a href="/food/<%= params[:storage_type] %>/<%= item.id %>/edit">Edit</a>
        <a href="/food/<%= params[:storage_type] %>/<%= item.id %>/delete">Delete</a>
      </div>
  </article>
  <% end %>
</div>
<!-- end food-storage -->
